<div class="product__purchase-options">
    <h3>Purchase Options</h3>
    <div class="flex flex-col align-stretch product__purchase-options--buttons">
        <button 
            type="button"
            class="btn white full bordered-black btn-options active"
        >
            <div class="btn-checkbox">
                {{ 'icon-radio-off.svg' | inline_asset_content }}
                {{ 'icon-radio-on.svg' | inline_asset_content }}
                Monthly Subscription 
            </div>
            <span>{{ price | money }}</span>
        </button>
        <button 
            type="button"
            class="btn white full btn-options bordered-black"
        >
            <div class="btn-checkbox">
                {{ 'icon-radio-off.svg' | inline_asset_content }}
                {{ 'icon-radio-on.svg' | inline_asset_content }}
                One Time Purchase 
            </div>
            <span>{{ price | money }}</span>
        </button>
    </div>
    <select id="subscription-selector" name="subscription[schedule_id]" style="display:none;">
        {% for schedule in product.subscription_schedules %}
            <option value="{{ schedule.id }}" {% if forloop.first %}selected{% endif %}>
                {{ schedule.name }} - {{ schedule.price | money }}
            </option>
        {% endfor %}
    </select>
</div>