<section
  class="
    split-screen content-2-cols
    {% if section.settings.reverse_content %} reverse{% endif %}
    {% if section.settings.dark_mode %} dark{% endif %}
    {% if section.settings.bordered %} bordered{% endif %}
  "
>
  <div class="split-screen-left">
    <div class="content-2-cols__column content-2-cols__column--content">
      {% if section.settings.title != blank %}
        <h2 class="content-2-cols__title site-title__lg">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.description != blank %}
        <div class="content-2-cols__description general-content-container">
          {{ section.settings.description }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="split-screen-right">
    <div class="content-2-cols__column content-2-cols__column--media">
      {% if section.settings.video_url != blank %}
        <div class="content-2-cols__video">
          <video
            width="100%"
            height="100%"
            playsinline
            autoplay
            loop
            muted
            preload="metadata"
          >
            <source src="{{ section.settings.video_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      {% elsif section.settings.image != blank %}
        <div class="content-2-cols__image">
          <img
            src="{{ section.settings.image | image_url: width: 800 }}"
            alt="{{ section.settings.image.alt | default: section.settings.title }}"
            width="{{ section.settings.image.width | default: 800 }}"
            height="{{ section.settings.image.height | default: 600 }}"
            loading="lazy"
            class="responsive-image"
          >
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Content 2 Cols",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL"
    },
    {
      "type": "checkbox",
      "id": "reverse_content",
      "label": "Reverse Content",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dark_mode",
      "label": "Dark Mode",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "bordered",
      "label": "Bordered",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Content 2 Cols",
      "category": "DOJO",
      "settings": {
        "title": "Backed by Science and Nature",
        "description": "<p>Not all sodium is the same. Sodium chloride, commonly known as table salt, is a fast-acting form that helps restore the sodium lost through sweat and supports hydration, muscle function, and nerve signaling. </p><p>Sodium citrate is a more advanced form, combining sodium with citric acid for smoother digestion and added benefits like buffering acid buildup in the body. It’s especially helpful during endurance efforts, as it can reduce the risk of cramping and fatigue. 40-Love, uses a smart blend of both to deliver hydration that works hard and feels good.</p>",
        "video_url": "https://cdn.shopify.com/videos/c/o/v/15d639fcb76443aa87dc0e29b4dac6c6.mp4",
        "reverse_content": false,
        "dark_mode": false,
        "bordered": false
      }
    }
  ]
}
{% endschema %}
