<section class="banner">
    <div class="banner__inner-wrapper">
        {% if section.settings.collection_banner_image != blank %}
        <div class="banner__icon">
            <img src="{{ section.settings.collection_banner_image | image_url: width: 80 }}" 
                alt="{{ section.settings.collection_banner_image.alt | default: section.settings.collection_banner_title }}" 
                width="{{ section.settings.collection_banner_image.width | default: 80 }}" 
                height="{{ section.settings.collection_banner_image.height | default: 80 }}" 
                loading="lazy">
        </div>
        {% endif %}
        <h1 class="site-title__xl">{{ section.settings.collection_banner_title }}</h1>
        <div class="banner__desc">
            {{ section.settings.collection_banner_desc }}
        </div>
        {% if section.settings.collection_banner_footer != blank %}
        <div class="banner__footer">
            {{ section.settings.collection_banner_footer }}
        </div>
        {% endif %}
    </div>
</section>

{% schema %}
{
    "name": "Collection Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "collection_banner_image",
            "label": "Icon",
            "info": "Upload PNG, JPG, or SVG format"
        },
        {
            "type": "text", 
            "id": "collection_banner_title",
            "label": "Title"
        }, 
        {
            "type": "richtext",
            "id": "collection_banner_desc", 
            "label": "Description"
        },
        {
            "type": "richtext",
            "id": "collection_banner_footer",
            "label": "Footer"
        }
    ]
}
{% endschema %}